<body class="flex interactive_bg">
    <header id="header">
        <div class="container">
            <div class="inner">
                <nav class="nav_menu">
                    <ul class="nav_list flex">
                        <li class="nav_item"><a class="link_underline fs-18 fw-500 cr_white" href="#">Главная</a></li>
                        <li class="nav_item"><a class="link_underline fs-18 fw-500 cr_white" href="#">О проекте</a></li>
                        <li class="nav_item"><a class="link_underline fs-18 fw-500 cr_white" href="#">Новости</a></li>
                        <li class="nav_item"><a class="link_underline fs-18 fw-500 cr_white" href="#">Команда</a></li>
                        <li class="nav_item"><a class="link_underline fs-18 fw-500 cr_white" href="#">Контакты</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <main id="main">
        <div class="container">
            <div class="inner">
                <div class="content">
                    <div class="form_container">
                        <div class="form_logo"></div>
                        <div class="form_inner">
                            <div class="form_content">
                                <h1 class="form_heading">Здравствуйте, <span id="forFirstName"></span>!</h1>
                                <p class="form_description">Рады снова Вас видеть! Предлагаем ознакомиться с последней версией нашего сервиса, узнайте, какой функционал мы добавили и будьте первыми.</p>
                                <a class="form_link link_underline" href="#">О версии v1.0.0</a>
                                <button onclick="onProfile()" class="form_btn_1">Перейти на платформу</button>
                                <button onclick="logout()" class="form_btn_2">Выйти из аккаунта</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer id="footer">
        <div class="container">
            <div class="inner flex">
                <img class="copyrite" src="/src/img/© Copyrite by Aurora Team.png" alt="Copyrite">
            </div>
        </div>
    </footer>
</body>
<script src="/src/js/libs/vanta-js/three.min.js"></script>
<script src="/src/js/libs/vanta-js/vanta.globe.min.js"></script>
<script src="/src/js/main-page.js"></script>