<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" type="text/css" href="/src/css/base.css">
        <link rel="stylesheet" type="text/css" href="/src/css/form-kit.css">
        <link rel="stylesheet" type="text/css" href="/src/css/font.css">
        <link rel="stylesheet" type="text/css" href="/src/css/profile_use.css">
        <link rel="stylesheet" href="/src/css/hystmodal.min.css">
    </head>
    <body>
        <div class="hystmodal" id="allSertif" aria-hidden="true">
            <div class="hystmodal__wrap">
                <div class="hystmodal__window" role="dialog" aria-modal="true">
                    <button data-hystclose class="hystmodal__close">Закрыть</button>
                    <!-- Ваш HTML код модального окна -->
                     <img id="image_full" class="images_full" src="" alt="img">
                    <h1 id="namePortfolio"></h1>
                    <p id="description_portfolio"><b>Описание:</b> <span></span></p>
                    <p id="organization_owner">Выдан <span class="nameOrg">ООО "Пиздаболкино"</span> <span class="data">17.05.2005</span></p>
                    <p id="hash_diplom">ID: <span></span></p>
                    <div class="form_container null" style="padding-left: 30px;">
                        <button id="super_btn" data-id="" class="form_btn_1 btn">Проверить подлинность</button>
                    </div>
                </div>
            </div>
        </div>
        <header id="header">
            <div class="container">
                <div class="inner">
                </div>
            </div>
        </header>
        <main id="main">
            <div class="container">
                <div class="inner">
                    <div class="wrapper">
                        <div class="wrapper_inner">
                            <div class="header_zone flex">
                                <div class="left">
                                    <div class="border_avatar">
                                        <div class="avatar"></div>
                                    </div>
                                </div>
                                <div class="right">
                                    <h1 class="full_name"></h1>
                                    <div class="tags">
                                        <div class="tag">
                                            <div class="icon"></div><p class="text">Нет места работы (в активном поиске)</p>
                                        </div>
                                        <div class="tag">
                                            <div class="icon"></div><p class="text">г. Кемерово</p>
                                        </div>
                                    </div>
                                    <div class="form_container null">
                                        <button class="form_btn_1">Связаться</button>
                                    </div>
                                </div>
                            </div>

                            <div class="about_me_zone">
                                <h3 class="heading">Обо мне</h3>
                                <p class="description">Повседневная практика показывает, что новая модель организационной деятельности представляет собой интересный эксперимент проверки новых предложений. Значимость этих проблем настолько очевидна, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании направлений прогрессивного развития. Задача организации, в особенности же сложившаяся структура организации позволяет выполнять важные задания по разработке новых предложений. Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности требуют от нас анализа направлений прогрессивного развития.</p>
                            </div>

                            <div class="work_stage">
                                <h2 class="heading">Опыт опыты</h2>
                                <ul class="stages">
                                    <div class="stage flex">
                                        <div class="left">
                                            <div class="icon"></div>
                                        </div>
                                        <div class="right">
                                            <p class="job_title">Мамкин программист (Senior)</p>
                                            <p class="organization">ООО "Наебумбу"</p>
                                            <p class="dates">C 01.01.1991 по 01.01.2033</p>
                                        </div>
                                    </div>
                                    <div class="stage flex">
                                        <div class="left">
                                            <div class="icon"></div>
                                        </div>
                                        <div class="right">
                                            <p class="job_title text">Мамкин программист (Senior)</p>
                                            <p class="organization text">ООО "Наебумбу"</p>
                                            <p class="dates text">C 01.01.1991 по 01.01.2033</p>
                                        </div>
                                    </div>
                                    <div class="stage flex">
                                        <div class="left">
                                            <div class="icon"></div>
                                        </div>
                                        <div class="right">
                                            <p class="job_title">Мамкин программист (Senior)</p>
                                            <p class="organization">ООО "Наебумбу"</p>
                                            <p class="dates">C 01.01.1991 по 01.01.2033</p>
                                        </div>
                                    </div>
                                    <div class="stage flex">
                                        <div class="left">
                                            <div class="icon"></div>
                                        </div>
                                        <div class="right">
                                            <p class="job_title">Мамкин программист (Senior)</p>
                                            <p class="organization">ООО "Наебумбу"</p>
                                            <p class="dates">C 01.01.1991 по 01.01.2033</p>
                                        </div>
                                    </div>
                                    <div class="stage flex">
                                        <div class="left">
                                            <div class="icon"></div>
                                        </div>
                                        <div class="right">
                                            <p class="job_title">Мамкин программист (Senior)</p>
                                            <p class="organization">ООО "Наебумбу"</p>
                                            <p class="dates">C 01.01.1991 по 01.01.2033</p>
                                        </div>
                                    </div>
                                </ul>
                            </div>
                            
                            <div class="portfolio">
                                <h2 class="heading">Портфолио</h2>
                                <div class="portfolio_container">
                                    <div class="cards flex">
                                    <!-- Оно само через js заполняется -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer id="footer">

        </footer>
    </body>
    <script defer src="/src/js/libs/hystmodal.min.js"></script>
    <script defer src="/src/js/profile.js"></script>
</html>